.shadow{
	-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1),10.0,0.0,0.0,10.0)
	
}

.leftsidebar{
	
	-fx-background-color: radial-gradient(center 50% 20%, radius 100%, #A73B24, #830808);
	-fx-border-radius: 20px;
	-fx-background-radius: 0 20px 20px 0; /* มุมซ้าย 0, มุมขวา 30px */

}

.transparent{
	-fx-background-color:rgba(0,0,0,0);
}


.logouthbox{
	-fx-background-color:#D9D9D9 ;
	-fx-background-radius : 20px;
	-fx-background-size: 10px;
	-fx-cursor: HAND;
}

.buyButton{
	-fx-background-color:#A73B24 ;
	-fx-background-radius : 20px;
	
	
}


.sellButton{
	-fx-background-color:#D9D9D9 ;
	-fx-background-radius : 50px;
	-fx-border-radius:30px;
	-fx-cursor: HAND;
}



.borderpane{
	-fx-background-color:#E7E7E7;
}